

:root {
    --gray: #e4e5e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif !important;
}

.hidden {
    display: none;
}

label {
    margin-right: 5rem;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
  }


.answer-div {
    cursor: pointer;
    display: block;
}

.answer-div > * {
    cursor: pointer;
}

.label {
    display: block;
}


.modal {
    height: 100% !important;
    width: 100% !important;
    z-index: 100 !important;
}

.modal-backdrop {
    position: absolute !important;
    z-index: -1 !important;
}


.hidden {
    display: none;
}

body {
    overflow-x: hidden;
}

.header {
    width: 100vw;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
}

.navbar {
    height: 65px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.right, .left {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navbar-element {
    height: 100%;
    line-height: 65px;
    margin: auto 0;
    padding: 0 1rem;
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    text-align: center;
    
}

#logo {
    font-size: 1.5rem;
    font-weight: 700;
}


.presentation {
    margin-top: 5rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0);
    text-align: center;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#svg_5 {
    position: absolute;
    right: -10%;
    top: 1%;
}

a {
    text-decoration: none;
}


/* From cssbuttons.io */
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }

   .front:hover {
       color: white;
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }


.ranking {
    margin-top: -50px;
    width: 100vw;
    min-height: 100px;
    background: #2f62b5;
}

.ranking {
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 9rem;
    color: white;
}

#svg-9 {
    position: absolute;
    left: 10%;
    width: 300px;
}

.ranking-container {
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(-50%);
    width: fit-content;
    text-align: start;
}

.ranking-element {
    border: 1px solid var(--gray);
    padding: 2rem;
    background: #2f62b5;
}

.border-bottom {
    padding-top: .5rem;
    border-bottom: 1px solid var(--gray);
    font-weight: 700;
}

.footer {
    background: #333;
    color: var(--gray);
    padding: 1.5rem;
    font-style: italic;
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}


.quiz {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    padding: 3rem;
    background: var(--gray);
    border-radius: 5px;
}

#question_id_text {
    font-style: italic;
    color: gray;
}

#question_text {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

input[type='radio'] {
    margin: .5rem 0;
}

label {
    padding-left: .5rem;
}

.control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.control-button {
    font-size: .75rem;
    border: 1px solid #333;
    padding: 0.3rem;
    color: #333;
    margin-right: .25rem;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
    }
}